
<% layout('boilerplate') -%>

<h1 class="text-center mb-4">Welcome to Education</h1>
<p class="lead text-center">Your one-stop platform for learning and knowledge sharing!</p>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img src="https://www.ecomm-guru.com/wp-content/uploads/2023/05/course_offered.jpg" class="card-img-top" alt="Course Image">
            <div class="card-body">
                <h5 class="card-title">Featured Course</h5>
                <p class="card-text">Learn the latest trends in tech and development.</p>
                <a href="/courses" class="btn btn-primary">Browse Courses</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjYu9snRVRhrLMuCGxpnhQOynwFNg210h6vQ&s" class="card-img-top" alt="Blog Image">
            <div class="card-body">
                <h5 class="card-title">Latest Blogs</h5>
                <p class="card-text">Stay updated with the latest articles and news in the industry.</p>
                <a href="/blogs" class="btn btn-primary">Read Blogs</a>
            </div>
        </div>
    </div>
</div>
